 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// Шрифт
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

// Базовые миксины

// Блок по центру
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Блок посередине по горизонтали
@mixin center-x {
  display: flex;
  justify-content: center;
}

// Блок посередине по вертикали
@mixin center-y {
  display: flex;
  align-items: center;
}

// Фон сайта
/*@mixin background {
  background-image: url("images/backgrounds/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
  }
}*/

// Градиент для текста
@mixin textGradient {
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100%;
  z-index: 2;
  // Навигация
  .nav {
    @include center-y;
    justify-content: flex-start;
    background-color: #151515;
    position: fixed;
    width: 100vw;
    height: 3rem;
    z-index: 3;
    &__container {
      @include center-y;
      margin: 0 1rem;
      img {
        width: 3rem;
        padding: .25rem;
        margin-right: .5rem;
      }
      p {
        color: pink;
        font-size: 1.025rem;
      }
      &:nth-child(2) {
        @include center;
        position: absolute;
        width: calc(100% - 2rem);
        @media screen and (max-width: 500px) {
        display: none;
        }
      }
      a {
        text-decoration: none;
        button {   
          background: transparent;
          border-radius: 4px;
          font-size: 1.025rem;     
          cursor: pointer;
          outline: none;
          border: none;
          color: white;
          height: 3rem;
          width: 6rem;
          &:hover {
            background-color: pink;
          }
        }
      }
    }
  }
  
  // Главная часть
  .main {
    background-color: white;
    @include center;
    height: 100%;
    padding-top: 3rem;
    &__items {
      @include center;
      z-index: 1;
      height: 100%;
      width: 100%;
      text-align: center;
      flex-direction: column;
    }
    // Линии
    &__line {
      /*background-image: url(images/lines/line.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 40vh;
      width: 100%;*/
    }
    // Основная часть блока
    &__container {
      @include center;
      flex-wrap: wrap;
      line-height: 1.5;
      margin: 0 1rem;
      &:first-child {
        flex-direction: column;
      }
      &:nth-child(2) {
        margin: 1rem 0;
        flex-direction: column;
        span {
          font-size: 1.25rem;
          margin: 1rem 0;
        }
      }
      p {
        &, span {
          font-size: 1.5rem !important;
        }
        @media screen and (max-width: 375px) {
          font-size: 1.25rem;
        }
      }
      span {
        @include textGradient;
      }
    }
    &__icon {
      @include center;
      a {
        img {
          width: 5rem;
        }
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}