 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// Шрифт
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

// Базовые миксины

// Блок по центру
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Блок посередине по горизонтали
@mixin center-x {
  display: flex;
  justify-content: center;
}

// Блок посередине по вертикали
@mixin center-y {
  display: flex;
  align-items: center;
}

// Фон сайта
@mixin background {
  background-image: url("images/backgrounds/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

// Градиент для текста
@mixin textGradient {
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  @include background;
  height: 100%;

  // Навигация
  .nav {
    @include center;
    justify-content: flex-start;
    background-color: #151515;
    height: 3rem;
    &__container {
      @include center-y;
      margin: 0 1rem;
      img {
        width: 3rem;
        padding: .25rem;
        margin-right: .5rem;
      }
      p {
        color: pink;
      }
      &:nth-child(2) {
        @include center;
        position: absolute;
        width: 100%;
      }
      a {
        text-decoration: none;
        button {   
          background: transparent;
          border-radius: 4px;
          font-size: 1.025rem;     
          cursor: pointer;
          outline: none;
          border: none;
          color: white;
          height: 3rem;
          width: 6rem;
          &:hover {
            background-color: pink;
          }
        }
      }
    }
  }
  
  // Главная часть
  .main {
    &__container {
      p {
        color: white;
        font-size: 1.1rem;
        &:first-child {
          @include textGradient;
        }
      }
      &:nth-child(2) {
        @include center;
      }
    }
    &__icon {
      @include center;
      filter: invert(1);
      &:hover {
        background-color: white;
        color: black;
        border: 3px solid white;
      }
    }
  }
}