@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100%;
  z-index: 2;
}
.wrapper .nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #151515;
  position: fixed;
  width: 100vw;
  height: 3rem;
  z-index: 3;
}
.wrapper .nav__container {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.wrapper .nav__container img {
  width: 3rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
}
.wrapper .nav__container p {
  color: pink;
  font-size: 1.025rem;
}
.wrapper .nav__container:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: calc(100% - 2rem);
}
@media screen and (max-width: 500px) {
  .wrapper .nav__container:nth-child(2) {
    display: none;
  }
}
.wrapper .nav__container a {
  text-decoration: none;
}
.wrapper .nav__container a button {
  background: transparent;
  border-radius: 4px;
  font-size: 1.025rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  height: 3rem;
  width: 6rem;
}
.wrapper .nav__container a button:hover {
  background-color: pink;
}
.wrapper .main {
  background-image: url("images/backgrounds/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 3rem;
}
.wrapper .main__items {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  flex-direction: column;
}
.wrapper .main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.5;
  margin: 0 1rem;
}
.wrapper .main__container:first-child {
  flex-direction: column;
}
.wrapper .main__container:nth-child(2) {
  margin: 1rem 0;
}
.wrapper .main__container:nth-child(2) span {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.wrapper .main__container p {
  line-height: 1.5;
}
.wrapper .main__container p, .wrapper .main__container p span {
  font-size: 1.75rem;
}
.wrapper .main__container p:nth-child(2), .wrapper .main__container p:nth-child(3) {
  font-size: 1.3rem;
}
.wrapper .main__container p:nth-child(2) {
  color: #969696;
}
.wrapper .main__container p:nth-child(3) {
  margin: 1rem 0;
}
.wrapper .main__container span {
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .main__container a {
  text-decoration: none;
  border-radius: 20px;
  position: relative;
  background-color: white;
  padding: 0 1rem;
  margin: 1rem;
  display: block;
  color: black;
}
.wrapper .main__container a:before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  border-radius: 20px;
  z-index: -1;
}
.wrapper .main__container a p {
  font-size: 1.25rem;
  margin: 0.25rem 0 0;
}
.wrapper .main__container a img {
  width: 50px;
}
.wrapper .main__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .main__icon a {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.wrapper .main__icon a:before {
  background: transparent;
}
.wrapper .main__icon a img {
  width: 5rem;
}
.wrapper .main__icon:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
